<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <!-- link css files here -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
</head>

<body>

  {{{ body }}}

  <!-- include javascript files here -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

  <!--  copy function -->
  <script>
    function copyOnClick() {
      const inputText = document.querySelector('#url-input')
      const copyButton = document.querySelector('#copy-button')
      inputText.select()
      inputText.setSelectionRange(0, 99999)
      document.execCommand("copy")
      copyButton.innerHTML = 'Copied!'
      copyButton.classList = 'col-8 col-sm-4 btn btn-warning'
    }
  </script>

</body>

</html>