<div class="container p-5">
  <div href="/" class="row mb-5 justify-content-center">
    <h1>URL Shortener</h1>
  </div>
  <div href="/" class="row justify-content-center mb-5">
    <a class="col-6 col-sm-4 col-md-3" href="/">
      <img class="mw-100" src="https://www.flaticon.com/svg/static/icons/svg/3221/3221956.svg" alt="chain">
    </a>
  </div>
  <div class="row justify-content-center mt-5 mb-2 text-monospace text-muted">
    click the logo to reset input
  </div>
  {{#if_equal option.status 'success'}}
  <h3 class="text-center text-success">
    Success! Please use this link：
  </h3>
  {{/if_equal}}
  {{#if_equal option.status 'danger'}}
  <h3 class="text-center text-danger">
    Please re-enter the URL has expired
  </h3>
  {{/if_equal}}
  <form action="/" class="row justify-content-center" method="POST">
    <input type="url" id="url-input" class="form-control mb-5" placeholder="Input URL Here"
      value="{{#if option.shortName}} {{option.host}}{{ option.shortName }} {{/if}}" name="hostName" required>
    {{#unless option.shortName}}
    <button type="submit" class="col-8 col-sm-4 btn btn-primary">
      Shorten
    </button>
    {{/unless}}
    {{#if option.shortName}}
    <a onclick="copyOnClick()" id="copy-button" class="col-8 col-sm-4 btn btn-info">
      Copy
    </a>
    {{/if}}
  </form>
</div>